<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/webserver/public/css/style.css">
</head>
<body>
    {{>header}}
    <h1>{{message}}</h1>
    <p>Requested by: {{name}}</p>
    {{>footer}}
</body>
</html>
