<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        {{>header}}

           <div id="abt">
        <h2 id="abt-self">Ridham  Patel</h2>
    </div>
        <div id="img">
            
        <img src="images/ridham.jpg">
        
        </div>

 
        {{>footer}}
    </body>
</html>