<!DOCTYPE html>
<html>
    <head>
<link rel="stylesheet" href="css/style.css">
    </head>
    <body>
     {{>header}}   
        <h1>contact me</h1>
        <span class="contactinfo">
           contact informtion<br><br>
           Email-ID : patelridham1919@gmail.com 
        </span>
        {{>footer}}
    </body>
</html>